/* style.css */

/* Change background color of navbar */
.bg-custom {
    background-color: #ffb380;
}

/* Center navbar items */
.navbar-nav  {
    margin: auto;
    font-family: 'Courier New', Courier, monospace; /* Use a monospaced font */
    font-size: 14px; /* Adjust font size as needed */
    font-weight: bold; /* Make the font bold */
    text-transform: uppercase; /* Uppercase text */
    color: #333; /* Set font color */
    padding: 0.5rem 1rem; 
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-right: 15px; /* Adjust spacing between navbar items if needed */
}
.navbar-nav .nav-link.active {
    color: #fff; /* Change font color for active link */
    background-color: #ffd1b3; /* Change background color for active link */
    border-radius: 0.25rem; /* Add border-radius to active link */
}